@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --app_background: #22252D;
    --blue_primary: #66A5FF;
    --grey_primary: #94A2AF;
    --grey_secondary: #3d4349;
    --grey_tertiary: #5E6F80;
    --red_primary: #FF3C5F;
    --green_primary: #2ED47A;
    --font_default: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

.scroll-hidden {
-ms-overflow-style: none;
    scrollbar-width: none;
}

::selection {
    background-color: var(--blue_primary);
    color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--app_background);
    scroll-behavior: smooth;
    font-family: var(--font_default), 'Montserrat', sans-serif;
    overflow: overlay;
}

a {
    color: inherit;
    text-decoration: none;
}
.ant-modal-content {
    background-color: var(--app_background) !important;
    color: white !important;
}
ul.ant-dropdown-menu {
    background: var(--app_background) !important;
    border: 1px solid var(--grey_secondary);
}
ul.ant-dropdown-menu .ant-dropdown-menu-item-active #addressText {
    color: var(--app_background) !important;
}
ul.ant-dropdown-menu .ant-dropdown-menu-item-active {
    background: var(--blue_primary) !important;
}
div.ant-card-bordered {
    background: var(--app_background) !important;
    border: 1.5px solid var(--grey_secondary);
}
div.ant-card-body {
    padding: 0 !important;
}

.room-hover:hover:not(.room-disabled) button {
    border-color: white !important;
}

.room-hover:hover:not(.room-disabled) button.join {
    background-color: white !important;
    color: #0E2D59 !important;
}

.room-joined:not(.room-disabled) button {
    border-color: var(--green_primary) !important;
}

.room-joined:not(.room-disabled) button.join {
    background-color: var(--green_primary) !important;
    color: white !important;
}

.room-hover-joined:hover:not(.room-disabled) button {
    border-color: var(--red_primary) !important;
}

.room-hover-joined:hover:not(.room-disabled) button.join {
    background-color: var(--red_primary) !important;
    color: white !important;
}

.room-disabled, .room-disabled button:first-child {
    cursor: not-allowed !important;
}
.room-disabled .ant-spin-nested-loading {
    cursor: not-allowed !important;
}
.room-disabled .ant-spin {
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.room-disabled button {
    border-color: var(--grey_primary) !important;
}